h2
{
	color:white;
	text-align:center;
	line-height:50px;
	background-image : linear-gradient(180deg, #37ACD8, #0E2365);
}
dd
{
	padding-top:1%;
	padding-left:2%;
}
dl
{
	padding-top:1%;
}
#orga
{
	text-align : center;
}
table
{
	margin : auto;
	border-collapse : collapse;
}
td, th
{
	padding : 5px;
	width : 150px;
	border : 1px solid black;
}
thead
{
	border : 1px solid black;
}
thead .enseignants
{
	color : #37ACD8;
}

