img.images
{
	padding-top:20px;
	padding-bottom:20px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h2
{
	color:white;
	text-align:center;
	line-height:50px;
	background-image : linear-gradient(180deg, #37ACD8, #0E2365);
}
dd
{
	padding-top:1%;
	padding-left:2%;
}
dl
{
	padding-top:1%;
}
#orga
{
	text-align : center;
}
